.btn {
    width: max-content;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2rem;
    font-family: 'Ubuntu Medium';
    border-radius: 0.5rem;
    background-color: #5A2797;
    color: white;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
        content: "";
        background-color: rgba($color: #5A2797, $alpha: 0.8);
        transform: scale(1.1);
    }
}