
<div class="main-content">
    <div class="welcome"> 
        <div class="container">
            <div class="img-logo">
                <%= image_tag('altavoz-white.png') %>
            </div>
            <div class="title">
                Preparando la segunda versión del altavoz...
            </div>
            <div class="subtitle">
                Mientras, gózate a nuestro padre en su <a target="_blank" href="https://www.twitch.tv/piezasmft"> Twitch </a>
            </div>

            <div class="input-wrapper">
                <input class="input" type="text" id="url" name="video_url" placeholder="Pega aquí la URL del enlace de YouTube...">
                <div class="btn js-checkVideoData">Subir video</div>
            </div>

            <div class="video-wrapper">
                <div class="video-info" id="video-info">
                    <div class="left-info"> 
                        <div class="img"> <img src="" name="img"/> </div>
                    </div>
                    <div class="right-info"> 
                        <div name="title" class="title"> </div>
                        <div name="created_at" class="date"> </div>
                        <div name="views" class="views"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>