
<div class="main-content">
    <div class="welcome"> 
        <div class="container">
            <div class="img-logo">
                <%= image_tag('altavoz-white.png') %>
            </div>
            <div class="title">
                Preparando la segunda versión del altavoz...
            </div>
            <div class="subtitle">
                Mientras, gózate a nuestro padre en <a href="https://www.twitch.tv/piezasmft"> su Twitch </a>
            </div>
        </div>
    </div>
 </div>