// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.welcome {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Ubuntu Medium", serif;

    .img-logo {
        display: flex;
        place-content: center;
        margin: 5rem;

        img {
            width: 85vw;
        }
    }

    .title {
        margin: 2rem;
        font-size: 6rem;
        color: #ffffff;
        text-align: center;
    }

    .subtitle {
        margin: 2rem;
        font-size: 4rem;
        color: #ffffff;
        text-align: center;
        
        a {
            color: #5A2797;
        }
    }

    .input-wrapper {
        display: flex;
        margin: 5rem;
        flex-direction: column;
        align-items: center;

        .input {
            width: 80vw;
            font-size: 2rem;
            color: white;
            background-color: rgba($color: #ffffff, $alpha: 0.1);
            font-family: 'Ubuntu Regular';
            border: 1px solid #5A2797;
            border-radius: 0.5rem;
            margin-bottom: 2rem;
            padding: 1rem;
        }
    }

    .video-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .video-info {
        opacity: 0;
        height: 0;
        background-color: #5A2797;
        padding: 2rem;
        border-radius: 1rem;
        transition: all .5s linear;

        &.show {
            opacity: 1;
            height: max-content;
            display: flex;
            align-items: center;
            width: max-content;
            place-content: center;

            .left-info {
                margin-right: 2rem;

                img {
                    width: 20rem;
                }
            }

            .right-info {
                margin-left: 2rem;

                .title {
                    font-size: 2rem;
                    color: white;
                    margin: 0;
                    margin-top: 2rem;
                    text-align: initial;
                }

                .date {
                    font-size: 1.6rem;
                    color: #D4ABFF;
                    margin-top: 2rem;
                }

                .views {
                    font-size: 1.6rem;
                    color: #935DD5;
                    margin-top: 2rem;
                }
            }
        }
    }
}