@font-face {
    font-family: 'Ubuntu Medium';
    src: url('Ubuntu-Medium.ttf');
 }

 @font-face {
    font-family: 'Ubuntu Light';
    src: url('Ubuntu-Light.ttf');
 }

 @font-face {
    font-family: 'Ubuntu Regular';
    src: url('Ubuntu-Regular.ttf');
 }

 @font-face {
    font-family: 'Ubuntu Bold';
    src: url('Ubuntu-Bold.ttf');
 }
