@font-face {
    font-family: 'Ubuntu Medium';
    src: url('/fonts/Ubuntu-Medium.ttf');
 }

 @font-face {
    font-family: 'Ubuntu Light';
    src: url('/fonts/Ubuntu-Light.ttf');
 }

 @font-face {
    font-family: 'Ubuntu Regular';
    src: url('/fonts/Ubuntu-Regular.ttf');
 }

 @font-face {
    font-family: 'Ubuntu Bold';
    src: url('/fonts/Ubuntu-Bold.ttf');
 }

 @font-face {
   font-family: 'Bebas Neue';
   src: url('/fonts/BebasNeue-Regular.ttf');
}

@font-face {
   font-family: 'Inria Light';
   src: url('/fonts/InriaSans-Light.ttf');
}

@font-face {
   font-family: 'Inria Regular';
   src: url('/fonts/InriaSans-Regular.ttf');
}

@font-face {
   font-family: 'Inria Bold';
   src: url('/fonts/InriaSans-Bold.ttf');
}